<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>lazy-form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./normalize.css">
  <link rel="stylesheet" href="./style.css">
</head>

<body>

<div class = 'form__wrapper'>
  <form>
    <div class = 'form__title'>新拖延運動報名表單</div>
    <div class = 'form__info'>
      <p>活動日期：2020/12/10 ~ 2020/12/11</p>
      <p>活動地點：台北市大安區新生南路二段1號</p>
    </div>
    <div class = 'form__notice'>*必填</div>
    <div class = 'input-block required'>
      <div class = 'input-block__title'>暱稱</div>
      <input class = 'placebar' name = 'title' placeholder='您的回答' type = 'text'/>
      <div class = 'input-block__error title__check' value = '請輸入暱稱!'></div>
    </div>
    <div class = 'input-block required' >
      <div class = 'input-block__title'>電子郵件</div>
      <input class = 'placebar' name = 'email' placeholder='您的電子郵件' type = 'text'/>
      <div class = 'input-block__error email__check' value = '請輸入電子郵件!'></div>
    </div>
    <div class = 'input-block required'>
      <div class = 'input-block__title'>手機號碼</div>
      <input class = 'placebar' name = 'phone' placeholder='您的手機號碼' type = 'text'/>
      <div class = 'input-block__error phone__check' value = '請輸入手機號碼!'></div>
    </div>
    <div class = 'input-block required hide-error'>
      <div class = 'input-block__title'>報名類型</div>
      <div>
        <label>
          <input type = "radio" name = "option"/>躺在床上用想像力實作
        </label>
        <label>
          <input type = "radio" name = "option"/>趴在地上滑手機找現成的
        </label>
      </div>
      <div class = 'input-block__error' value = '請選擇報名類型!'>請選擇報名類型!</div>
    </div>
    <div class = 'input-block required'>
      <div class = 'input-block__title'>怎麼知道這個活動的？</div>
      <input class = 'placebar' placeholder='您的回答' name = 'answer' type = 'text'/>
      <div class = 'input-block__error answer__check' value = '請勿留空!'></div>
    </div>
    <div class = 'input-block'>
      <div class = 'input-block__title'>其他</div>
      <div class = 'input-block__desc'>對活動的一些建議</div>
      <input class = 'placebar' placeholder='您的回答' name = 'other' type = 'text'/>
    </div>
    <div class = 'buttons__block'>
      <a class = 'buttons__block-save'>暫存</a>
      <input type = submit id = 'buttons__block-summit'></input>
    </div>
    <div class = 'form__info'>請勿透過表單送出您的密碼。</div>
  </form>
</div>
<div class = 'footer'>
  © 2020 © Copyright. All rights Reserved.
</div>

<script src = './index.js'></script>
</body>

</html>